graft zkpy

include LICENSE
include README.md

include .bumpversion.cfg
include pyproject.toml
include Makefile
include *.md

prune .github
prune */__pycache__ 
exclude .gitignore
exclude .gitattributes

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .flake8
global-exclude *.sh
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
global-exclude *.gif
global-exclude docs/*
recursive-exclude docs *.nojekyll
